// Green Button
.button {

	text-decoration: none;
	border-radius: 4px;
	color: $white;
	background-color: $green;
	padding: 8px 16px;

	&:hover, &:focus {
		color: $white;
		background-color: $green-dark;
		text-decoration: none;
	}

	&.large {
		padding: 15px 25px;
	}

}