.navbar {

	background-color: $gray;
    position: fixed;
	z-index: 100;
    width: 100%;
    border: 0;
    border-radius: 0;
    @include box-shadow (0px 0px 10px 1px rgba(0,0,0,0.3));

    .toggle {
		position: relative;
		float: right;
		padding: 9px 10px;
		margin-top: 8px;
		margin-right: 15px;
		margin-bottom: 8px;
		background-color: $green;
		background-image: none;
		border: 1px solid $white;
		border-radius: 4px;
  		@include transition(background-color 0.2s ease-in);

		&:hover {
			background-color: $green-dark;
		}

		&:focus {
			outline: 0;
		}

		.icon-bar {
		    display: block;
		    width: 22px;
		    height: 2px;
		    border-radius: 1px;
    		background-color: rgba(255, 255, 255, 0.9);
		}

		.icon-bar+.icon-bar {
		    margin-top: 4px;
		}

    }

    .collapse-bar {
		border-top: 1px solid $gray-dark;
		margin-right: -15px;
		margin-left: -15px;
    }

    .logo {
    	color: $link-color;
    	text-decoration: none;
		float: left;
		height: 50px;
		padding: 15px 15px;
		font-size: $hugeSize;
    	font-weight: 700;
		line-height: 20px;
    }

    ul {
    	margin: 0;

    	a {
    		text-decoration: none;
    		color: $link-color;
		    font-size: $mediumSize;
  			@include transition(background-color 0.2s ease-in);
    	}

    }

}

/* Small devices (tablets, 768px and up) */
@media (min-width: $screen-sm-min) {
	.navbar {

	    .toggle {
			display: none;
	    }

		.collapse-bar {
			display: block;    
			border-top: 0;
			margin-right: -15px;
			margin-left: -15px;

			li a {

				&:hover, &:focus {
					color: $link-dark;
					background-color: $gray;
				}
			}

			.sign-up {
			    padding-top: 7px;

			    a {
					border-radius: 4px;
					color: $white;
					background-color: $green;
					padding: 8px 16px;
  					@include transition(all 0.2s ease-in);

					&:hover, &:focus {
						color: $white;
						background-color: $green-dark;
					}
			    }


			}

		}

	}
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: $screen-md-min) {

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: $screen-lg-min) {

}