<div ng-controller="userController">
<div class="content">
    <div class="container">
        <div class="profile">
            <!-- User Info -->
            <div class="user_info">
                <div class="info">
                    <img class="profile-picture" src="/images/default-profile-pic.png" alt="profile picture"/>
                        <div class="info-container">
                        <div class="title">{{ user.name }}</div>
                        <div class="rating">
                            &#9733;&#9733;&#9733;&#9733;&#9734; <a class='showReview'>13 Reviews</a>
                        </div>
                        <span class="info-piece">
                            <span class="name">Location</span>
                            <span class="value">{{ user.location}} </span>
                        </span>
                        <span class="info-piece">
                            <span class="name">Email</span>
                            <span class="value">{{ user.email }}</span>
                        </span>
                    </div>
                    <div class="right-corner">
                        <button class="button" data-toggle="modal" data-target="#messageModal">
                           <img class="icon" src="/assets/icon-message.svg">
                           <span>Message</span>
                        </button>
                        <button class="button" data-toggle="modal" data-target="#reportModal">
                            <img class="icon" src="/assets/icon-report.svg">
                            <span>Report</span>
                        </button>
                    </div>
                </div>
                <p class="description">
                    {{ user.description }}
                </p>
            </div>

            <!-- nav bar for pets postings history -->
            <div class="nav-bar">
                <button class="nav-item" id="pet" href="#pet">Pets</button>
                <button class="nav-item" id="posting" href="#posting">Postings</button>
                <button class="nav-item" id="history" href="#history">History</button>
                <button class="nav-item" id='review' href="#review">Review</button>
                <span class="line"></span>
            </div>

            <!-- Pets -->
            <div class="pets">
                <div class="pet">
                    <div class="info">
                        <img class="profile-picture" src="/images/cat1.jpg" alt="pet picture"/>
                        <div class="left-info">
                            <div class="title">Pudding</div>
                            <span class="rating">
                                &#9733;&#9733;&#9733;&#9733;&#9734; 
                                <a class='showReview'>13 Reviews</a>
                            </span>
                            <div>
                                <div class="info-column">
                                    <span class="info-piece icon-span">
                                        <span class="icon"><img class="icon" src="/assets/icon-icon-pet.svg"></span>
                                        <span class="value">Cat</span>
                                        </span>
                                        <span class="info-piece icon-span">
                                            <span class="icon"><img class="icon" src="/assets/icon-age.svg"></span>
                                            <span class="value">2 years old</span>
                                        </span>
                                    </div>
                                    <div class="info-column">
                                        <span class="info-piece">
                                            <span class="name">Gender</span>
                                            <span class="value">Neutered male</span>
                                        </span>
                                        <span class="info-piece">
                                            <span class="name">Breed</span>
                                            <span class="value">Manx</span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <p class="description">
                            He is my best buddy. He likes tuna.
                        </p>
                    </div>
                    <div class="pet">
                        <div class="info">
                            <img class="profile-picture" src="/images/cat2.jpg" alt="pet picture"/>
                            <div class="left-info">
                                <div class="title">Apple</div>
                                <span class="rating">
                                    &#9733;&#9733;&#9733;&#9733;&#9734; <a class='showReview'>13 Reviews</a>
                                </span>
                                <div>
                                    <div class="info-column">
                                        <span class="info-piece icon-span">
                                            <span class="icon"><img class="icon" src="/assets/icon-icon-pet.svg"></span>
                                            <span class="value">Cat</span>
                                            </span>
                                            <span class="info-piece icon-span">
                                                <span class="icon"><img class="icon" src="/assets/icon-age.svg"></span>
                                                <span class="value">2 years old</span>
                                            </span>
                                        </div>
                                        <div class="info-column">
                                            <span class="info-piece">
                                                <span class="name">Gender</span>
                                                <span class="value">Neutered male</span>
                                            </span>
                                            <span class="info-piece">
                                                <span class="name">Breed</span>
                                                <span class="value">Manx</span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <p class="description">He is my second best buddy. He likes apple.</p>
                        </div>
                    </div>

                    <!-- Postings -->
                    <div class="postings">
                        <div class="posting">
                            <div class="info">
                                <img class="profile-picture" src="/images/cat1.jpg" alt="pet picture"/>
                                <div class="left-info">
                                    <div class="title"><a href="/post_pet">Finding a kind pet sitter.</a></div>
                                    <div>
                                        <div class="info-column">
                                            <span class="rating">
                                                &#9733;&#9733;&#9733;&#9733;&#9734;
                                            </span>
                                            <span class="info-piece">
                                                <span class="icon"><img class="icon" src="/assets/icon-icon-pet.svg"></span>
                                                <span class="value">Cat</span>
                                            </span>
                                            <span class="info-piece">
                                                <span class="icon"><img class="icon" src="/assets/icon-calendar.svg"></span>
                                                <span class="value">March 3rd to April 1st</span>
                                            </span>
                                        </div>
                                        <div class="info-column">
                                            <span class="info-piece">
                                                <span class="icon"><img class="icon" src="/assets/icon-location.svg"></span>
                                                <span class="value">Downtown, Toronto, ON</span>
                                            </span>
                                            <span class="info-piece">
                                                <span class="icon"><img class="icon" src="/assets/icon-price.svg"></span>
                                                <span class="value">25 per day</span>
                                            </span>
                                            <span class="info-piece">
                                                <span class="icon"><img class="icon" src="/assets/icon-age.svg"></span>
                                                <span class="value">2 years old</span>
                                            </span>
                                        </div>
                                        <div class="info-column">
                                            <button class="apply" data-toggle="modal" data-target="#applyModal">Apply</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <p class="description">
                                I'm going to aboard for one month. My pet's name is Pudding. He is introvert and usually quiet. He likes to eat tuna but he can eat normal cat food...
                                 <a href="/post_pet">See More</a>
                             </p>
                        </div>
                        <div class="posting">
                            <div class="info">
                                <img class="profile-picture" src="/images/default-profile-pic.png" alt="profile picture"/>
                                <div class="left-info">
                                    <div class="title"><a href="/post_petsitter">Let me take care of your pet!</a></div>
                                    <div>
                                        <div class="info-column">
                                            <span class="rating">
                                                &#9733;&#9733;&#9733;&#9734;&#9734; 
                                            </span>
                                            <span class="info-piece">
                                                <span class="icon"><img class="icon" src="/assets/icon-icon-pet.svg"></span>
                                                <span class="value">Cats, Dogs, Hampsters</span>
                                            </span>
                                            <span class="info-piece">
                                                <span class="icon"><img class="icon" src="/assets/icon-calendar.svg"></span>
                                                <span class="value">March 3rd to April 1st</span>
                                            </span>
                                        </div>
                                        <div class="info-column">
                                            <span class="info-piece">
                                                <span class="icon"><img class="icon" src="/assets/icon-location.svg"></span>
                                                <span class="value">Downtown, Toronto, ON</span>
                                            </span>
                                            <span class="info-piece">
                                                <span class="icon"><img class="icon" src="/assets/icon-price.svg"></span>
                                                <span class="value">20 ~ 25 per day</span>
                                            </span>
                                            <span class="info-piece">
                                                <span class="icon"><img class="icon" src="/assets/icon-age.svg"></span>
                                                <span class="value">2 years experience</span>
                                            </span>
                                        </div>
                                        <div class="info-column">
                                            <button class="apply" data-toggle="modal" data-target="#applyModal">Apply</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <p class="description">
                                I'm really nice guy. You can see my reviews. Everyone satisfies with my service.
                                100% safety guarantees. If you'd like to bring your own food for you pet, you...
                                 <a href="/post_petsitter">See More</a>
                             </p>
                        </div>
                    </div>

                    <!-- History -->
                    <div class="histories">
                        <div class="history">
                            <div class="info">
                                <img class="profile-picture" src="/images/cat1.jpg" alt="pet picture"/>
                                <div class="left-info">
                                    <div class="title"><a href="/post_pet">Finding a kind pet sitter.</a></div>
                                    <div>
                                        <div class="info-column">
                                            <span class="rating">
                                                &#9733;&#9733;&#9733;&#9733;&#9734; 
                                            </span>
                                            <span class="info-piece">
                                                <span class="icon"><img class="icon" src="/assets/icon-icon-pet.svg"></span>
                                                <span class="value">Cat</span>
                                            </span>
                                            <span class="info-piece">
                                                <span class="icon"><img class="icon" src="/assets/icon-calendar.svg"></span>
                                                <span class="value">March 3rd to April 1st</span>
                                            </span>
                                        </div>
                                        <div class="info-column">
                                            <span class="info-piece">
                                                <span class="icon"><img class="icon" src="/assets/icon-location.svg"></span>
                                                <span class="value">Downtown, Toronto, ON</span>
                                            </span>
                                            <span class="info-piece">
                                                <span class="icon"><img class="icon" src="/assets/icon-price.svg"></span>
                                                <span class="value">25 per day</span>
                                            </span>
                                            <span class="info-piece">
                                                <span class="icon"><img class="icon" src="/assets/icon-age.svg"></span>
                                                <span class="value">2 years old</span>
                                            </span>
                                        </div>
                                        <div class="info-column">
                                            <button class="closed">Closed</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <p class="description">
                                I'm going to aboard for one month. My pet's name is Pudding. He is introvert and usually quiet. He likes to eat tuna but he can eat normal cat food...
                                 <a href="/post_pet">See More</a>
                             </p>
                        </div>
                        <div class="history">
                            <div class="info">
                                <img class="profile-picture" src="/images/default-profile-pic.png" alt="profile picture"/>
                                <div class="left-info">
                                    <div class="title"><a href="/post_petsitter">Let me take care of your pet!</a></div>
                                    <div>
                                        <div class="info-column">
                                            <span class="rating">
                                                &#9733;&#9733;&#9733;&#9734;&#9734; 
                                            </span>
                                            <span class="info-piece">
                                                <span class="icon"><img class="icon" src="/assets/icon-icon-pet.svg"></span>
                                                <span class="value">Cats, Dogs, Hampsters</span>
                                            </span>
                                            <span class="info-piece">
                                                <span class="icon"><img class="icon" src="/assets/icon-calendar.svg"></span>
                                                <span class="value">March 3rd to April 1st</span>
                                            </span>
                                        </div>
                                        <div class="info-column">
                                            <span class="info-piece">
                                                <span class="icon"><img class="icon" src="/assets/icon-location.svg"></span>
                                                <span class="value">Downtown, Toronto, ON</span>
                                            </span>
                                            <span class="info-piece">
                                                <span class="icon"><img class="icon" src="/assets/icon-price.svg"></span>
                                                <span class="value">20 ~ 25 per day</span>
                                            </span>
                                            <span class="info-piece">
                                                <span class="icon"><img class="icon" src="/assets/icon-age.svg"></span>
                                                <span class="value">2 years experience</span>
                                            </span>
                                        </div>
                                        <div class="info-column">
                                            <button class="closed">Closed</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <p class="description">
                                I'm really nice guy. You can see my reviews. Everyone satisfies with my service.
                                100% safety guarantees. If you'd like to bring your own food for you pet, you...
                                 <a href="/post_petsitter">See More</a>
                             </p>
                        </div>
                    </div>

                    <!-- Reivews -->
                    <div class="reviews">
                        <div class="review">
                            <div class="info">
                                <img class="review-user-picture" src="/images/default-profile-pic.png" alt="pet picture"/>
                                <div class="left-info review-info">
                                    <div class="review-user-info">
                                        <div class="name">
                                            Eddie Redmayne
                                        </div>
                                        <div class="location">
                                            Toronto, ON
                                        </div>
                                    </div>
                                    <div class="comment">
                                        <span class="rating review-rating">
                                            &#9733;&#9733;&#9733;&#9733;&#9734; 
                                        </span>
                                        <span class="date">
                                            1/13/2016
                                        </span>
                                        <p class="description review-description">
                                            Great service! And the pets are adorable!
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>
        </div>
    </div>
</div>

<!-- Message Modal -->
<div class="modal fade" id="messageModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Message</h4>
            </div>
            <div class="modal-body">
                <form role="form">
                    <div class="form-group">
                        <textarea name="comment" ng-model="msg_content"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="sendMsg()">Send</button>
            </div>
        </div>
    </div>
</div>

<!-- Report Modal -->
<div class="modal fade" id="reportModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">
                            &times;
                        </span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">Report</h4>
                </div>
                <div class="modal-body">
                    <form role="form">
                        <div class="form-group">
                            <textarea name="comment" placeholder="Please briefly describe what you are reporting for."></textarea>
                        </div>
                    </form>
                </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal">Report</button>
            </div>
        </div>
    </div>
</div>

<!-- Apply Modal -->
<div class="modal fade" id="applyModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">
                        &times;
                    </span>
                </button>
                <h4 class="modal-title" id="myModalLabel">Application</h4>
            </div>
            <div class="modal-body">
                <form role="form">
                    <div class="form-group">
                        <label for="name">Name:</label>
                        <input type="name" class="form-control" id="name">
                    </div>
                    <div class="form-group">
                        <label for="email">Email:</label>
                        <input type="email" class="form-control" id="email">
                    </div>
                    <div class="form-group">
                        <label for="comment">Comments:</label>
                        <textarea name="comment"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    Close
                </button>
                <button type="button" class="btn btn-primary" data-dismiss="modal">
                    Apply
                </button>
            </div>
        </div>
    </div>
</div>
<div>


<script type="text/javascript">
    $(document).ready(function(){
        if (window.location.hash == '#review') {
            showReview();
        } else {
            showPet();
        }

        $('#pet').on('click', showPet);
        $('#posting').on('click', showPosting);
        $('#history').on('click', showHistory);
        $('#review').on('click', showReview);
        $("a[class='showReview']").on('click', showReview);
    });

    function showPet() {
        $('#pet').css("color", "#006e8c");
        $('#posting').css("color", "#929292");
        $('#history').css("color", "#929292");
        $('#review').css("color", "#929292");

        $('div.pets').css("display", "block");
        $('div.postings').css("display", "none");
        $('div.histories').css("display", "none");
        $('div.reviews').css("display", "none");
    }

    function showPosting() {
        $('#pet').css("color", "#929292");
        $('#posting').css("color", "#006e8c");
        $('#history').css("color", "#929292");
        $('#review').css("color", "#929292");

        $('div.pets').css("display", "none");
        $('div.postings').css("display", "block");
        $('div.histories').css("display", "none");
        $('div.reviews').css("display", "none");
    }

    function showHistory() {
        $('#pet').css("color", "#929292");
        $('#posting').css("color", "#929292");
        $('#history').css("color", "#006e8c");
        $('#review').css("color", "#929292");

        $('div.pets').css("display", "none");
        $('div.postings').css("display", "none");
        $('div.histories').css("display", "block");
        $('div.reviews').css("display", "none");
    }

    function showReview() {
        $('#pet').css("color", "#929292");
        $('#posting').css("color", "#929292");
        $('#history').css("color", "#929292");
        $('#review').css("color", "#006e8c");

        $('div.pets').css("display", "none");
        $('div.postings').css("display", "none");
        $('div.histories').css("display", "none");
        $('div.reviews').css("display", "block");
    }
</script>