<!DOCTYPE html> 
<html ng-app="petCare">

<head>

	<meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

	<title>PetCare</title>

    <link rel="shortcut icon" type="image/x-icon" href="assets/favicon.ico"/>

    <!-- Bootstrap Core CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
	<link rel="stylesheet" href="stylesheets/style.css" type="text/css"/>

    <!-- Custom Fonts -->
	<link href='https://fonts.googleapis.com/css?family=Lato:400,300,700' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="toggle" data-toggle="collapse" data-target="#navbar1">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="logo" href="#">PetCare</a>
            </div>
            <div class="collapse collapse-bar" id="navbar1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <li>
                        <a href="search_petsitter">Hire a Pet Sitter</a>
                    </li>
                    <li>
                        <a href="search_pet">Offer Pet Sitting</a>
                    </li>
                    <li class="sign-up">
                        <a href="signup">Sign Up</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Content goes here -->
    <div class="content">
        <div class="container">

            <div class="post-header">
                <ul class="buttons">
                    <div class="floatleft">
                        <li>
                            <a href="search_petsitter" class="button large">
                                <span class="button-label">Go Back To Posting</span>
                            </a>
                        </li>
                    </div>
                </ul>
            </div>

            <div class="post">
                <form ng-controller="sitterPostingFormController">
                    <div class="form-group">
                        <label for="userImageToUpload">Upload your picture:</label>
                        <input type="file" class="file-input" name="userImageToUpload" id="userImageToUpload" ng-model="thumbnail">
                    </div>

                    <div class="form-group">
                        <label for="inputTitle">Title</label>
                        <input type="text" class="form-control" name="inputTitle" id="inputTitle" ng-model="title">
                    </div>

                    <div class="form-group">
                        <label for="inputPetType">Pet Type(s)</label>
                        <input type="text" class="form-control" name="inputPetType" id="inputPetType" ng-model="types">
                    </div>

                    <div class="form-group">
                        <label for="inputDuration">Duration</label>
                        <input type="text" class="form-control" name="inputDuration" id="inputDuration"  ng-model="duration"/>
                    </div>

                    <div class="form-group">
                        <label for="inputLocation">Location</label>
                        <input type="text" class="form-control" name="inputLocation" id="inputLocation" ng-model="location">
                    </div>

                    <div class="form-group">
                        <label for="inputPrice">Price Range</label>
                        <input type="text" class="form-control" name="inputPrice" id="inputPrice"  ng-model="price">
                    </div>

                    <div class="form-group">
                        <label for="inputPetAge">Experience</label>
                        <input type="text" class="form-control" name="inputPetAge" id="inputPetAge" ng-model="experience">
                    </div>

                    <div class="form-group">
                        <label for="inputPetSupplies">Pet supplies at home</label>
                        <input type="text" class="form-control" name="inputPetSupplies" id="inputPetSupplies" ng-model="supplies">
                    </div>

                    <div class="form-group">
                        <label for="inputPetAtHome">Number of Pets</label>
                        <input type="text" class="form-control" name="inputPetAtHome" id="inputPetAtHome" ng-model="number_of_pets">
                    </div>

                    <div class="form-group">
                        <label for="inputDescription">Description</label>
                        <textarea row="10" class="form-control" name="inputDescription" id="inputDescription" ng-model="description"></textarea>
                    </div>
            
                    <button ng-click="createPosting()" type="button" class="post-button">Submit</button>

                </form>
            </div>
        </div>
    </div>

    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="footer-label">
            	About Us
            </div>

            <div class="description">
            	PetCare is an online service where individuals who are looking for someone to take care of their pets can connect with pet sitters in their community who are experienced in taking care of pets. Users can register on the system and look for a pet sitter or offer their pet sitting services, or both.
            </div>

            <div class="icons">
            	<i class="fa fa-twitter"></i>
            	<i class="fa fa-facebook"></i>
            	<i class="fa fa-youtube-play"></i>
            </div>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

    <!-- AngularJS -->
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.2/angular.min.js"></script>
    <script type="text/javascript" src="javascripts/app.js"></script>

</body>

</html>