<!-- Sign In -->
<div class="content">
    <div class="container">
        <div class="signin">
            <form action="/login" method="post">
                <div class="signup-input">
                    Account: <input type="text" name="email" placeholder="Username or Email">
                </div>
                <div class="signup-input">
                    Password: <input type="password" name="password" placeholder="required">
                </div>
                <div class="remember-me">
                    <label><input type="checkbox" name="remember-me" />Remember me</label>
                    <a href="#forgot-pw">Forgot Password?</a>
                </div>
                <input class="signup-button" type="submit" value="Sign In">
                <span class="center">Don't have an account? <a href="signup">Sign Up</a></span>
                <span class="center">
                    <span class="line"></span>or<span class="line"></span>
                </span>
                <input class="signup-button" id="facebook" type="button" value="Continue with Facebook">
                <input class="signup-button" id="twitter" type="button" value="Continue with Twitter">
                <input class="signup-button" id="google" type="button" value="Continue with Google +">
            </form>
        </div>
    </div>
</div>