    <div class="content">
        <div class="container">

            <div class="post-header">
                <ul class="buttons">
                    <div class="floatleft">
                        <li>
                            <a href="petsitter_posts" class="button large">
                                <span class="button-label">Go Back To Posting</span>
                            </a>
                        </li>
                    </div>
                </ul>
            </div>

            <div class="post">
                <form ng-controller="sitterPostingFormController">
                    <div class="form-group">
                        <label for="userImageToUpload">Upload your picture:</label>
                        <input type="file" class="file-input" name="userImageToUpload" id="userImageToUpload" ng-model="thumbnail">
                    </div>

                    <div class="form-group">
                        <label for="inputTitle">Title</label>
                        <input type="text" class="form-control" name="inputTitle" id="inputTitle" ng-model="title">
                    </div>

                    <div class="form-group">
                        <label for="inputPetType">Pet Type(s)</label>
                        <input type="text" class="form-control" name="inputPetType" id="inputPetType" ng-model="types">
                    </div>

                    <div class="form-group">
                        <label for="inputDuration">Duration</label>
                        <input type="text" class="form-control" name="inputDuration" id="inputDuration"  ng-model="duration"/>
                    </div>

                    <div class="form-group">
                        <label for="inputLocation">Location</label>
                        <input type="text" class="form-control" name="inputLocation" id="inputLocation" ng-model="location">
                    </div>

                    <div class="form-group">
                        <label for="inputPrice">Price Range</label>
                        <input type="text" class="form-control" name="inputPrice" id="inputPrice"  ng-model="price">
                    </div>

                    <div class="form-group">
                        <label for="inputPetAge">Experience</label>
                        <input type="text" class="form-control" name="inputPetAge" id="inputPetAge" ng-model="experience">
                    </div>

                    <div class="form-group">
                        <label for="inputPetSupplies">Pet supplies at home</label>
                        <input type="text" class="form-control" name="inputPetSupplies" id="inputPetSupplies" ng-model="supplies">
                    </div>

                    <div class="form-group">
                        <label for="inputPetAtHome">Number of Pets</label>
                        <input type="text" class="form-control" name="inputPetAtHome" id="inputPetAtHome" ng-model="number_of_pets">
                    </div>

                    <div class="form-group">
                        <label for="inputDescription">Description</label>
                        <textarea row="10" class="form-control" name="inputDescription" id="inputDescription" ng-model="description"></textarea>
                    </div>
            
                    <button ng-click="createPosting()" type="button" class="post-button">Submit</button>

                </form>
            </div>
        </div>
    </div>