
    <!-- Post -->
    <div class="content" ng-controller="petPostingController">
        <div class="container">

            <!-- Two buttons on the top of the page -->
            <div class="post-header">
                <ul class="buttons">

                    <div class="floatleft">
                        <li>
                            <a href="search_pet" class="button large">
                                <span class="button-label">Go Back To Posting</span>
                            </a>
                        </li>
                    </div>

                    <div class="floatright">
                        <li>
                            <a href="user_profile" class="button large">
                                <span class="button-label">View User Profile</span>
                            </a>
                        </li>
                    </div>
                </ul>
            </div>
            
            <!-- Details of the specific post -->
            <div class="post profile">
                <!-- User Info -->
                <div class="user_info">
                    <div class="info">
                        <img class="profile-picture" ng-src="{{ petPosting.thumbnail }}" alt="pet picture"/>
                        <div class="left-info">
                            <div class="title">{{ petPosting.title }}</div>
                            <div>
                                <div class="info-column">
                                    <div class="rating">
                                        &#9733;&#9733;&#9733;&#9733;&#9734; <a href="user_profile.html#review">13 Reviews</a>
                                    </div>
                                    <span class="info-piece">
                                        <img class="icon" src="assets/icon-icon-pet.svg">
                                        <span class="value">{{ pet.type }}</span>
                                    </span>
                                    <span class="info-piece">
                                        <img class="icon" src="assets/icon-calendar.svg">
                                        <span class="value">{{ petPosting.duration }}</span>
                                    </span>
                                </div>
                                <div class="info-column">
                                    <span class="info-piece">
                                        <img class="icon" src="assets/icon-location.svg">
                                        <span class="value">{{ petPosting.location }}</span>
                                    </span>
                                    <span class="info-piece">
                                        <img class="icon" src="assets/icon-price.svg">
                                        <span class="value">{{ petPosting.price }}</span>
                                    </span>
                                    <span class="info-piece">
                                        <img class="icon" src="assets/icon-age.svg">
                                        <span class="value">{{ pet.age }} years old</span>
                                    </span>
                                </div>
                                <div class="info-column right-corner">
                                    <button class="button apply" data-toggle="modal" data-target="#applyModal">
                                        <img class="icon" src="assets/icon-message.svg">
                                        <span>Apply</span>
                                    </button>
                                    <button class="button apply" data-toggle="modal" data-target="#reviewModal">
                                        <img class="icon" src="assets/icon-comment.svg">
                                        <span>Review</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="info">
                        <span class="info-piece-long-text">
                            <span class="name">Gender</span>
                            <span class="value">{{ pet.gender }}</span>
                        </span>
                        <span class="info-piece-long-text">
                            <span class="name">Breed</span>
                            <span class="value">{{ pet.breed }}</span>
                        </span>
                        <span class="info-piece-long-text">
                            <span class="name">Pet Supplies</span>
                            <span class="value">{{ petPosting.supplies }}</span>
                        </span>
                        <span class="info-piece-long-text">
                            <span class="name">Medicine or Special Diet</span>
                            <span class="value">{{ petPosting.additional_info }}</span>
                        </span>
                    </div>
                </div>    

                <p class="description">
                    {{ petPosting.description }}
                </p>

                    <!-- Stack the columns on mobile by making one full-width and the other half-width -->
                    <div class="row top-buffer">
                      <div class="col-xs-6 col-sm-3"><img src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcSSvqy00KtrNN6MTdxe66v4qDyWWh6p-UyKtI_L6MvHzjVAHtMlUJ0lCmtf" class="img-thumbnail"></div>
                      <div class="col-xs-6 col-sm-3"><img src="http://sites.psu.edu/siowfa15/wp-content/uploads/sites/29639/2015/10/cat.jpg" class="img-thumbnail"></div>

                      <!-- Add the extra clearfix for only the required viewport -->
                      <div class="clearfix visible-xs-block"></div>

                      <div class="col-xs-6 col-sm-3"><img src="https://i.ytimg.com/vi/6j7oQletFbc/maxresdefault.jpg" class="img-thumbnail"></div>
                      <div class="col-xs-6 col-sm-3"><img src="http://dreamatico.com/data_images/dog/dog-5.jpg" class="img-thumbnail"></div>
                  </div>

                  <div class="row top-buffer">
                      <div class="col-xs-6 col-sm-3"><img src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcThma8lBYVpcLipyIwXcaPpmqemR-PhbDswYABRKo5sGzirgFTNOQ" class="img-thumbnail"></div>
                      <div class="col-xs-6 col-sm-3"><img src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcSSvqy00KtrNN6MTdxe66v4qDyWWh6p-UyKtI_L6MvHzjVAHtMlUJ0lCmtf" class="img-thumbnail"></div>

                      <!-- Add the extra clearfix for only the required viewport -->
                      <div class="clearfix visible-xs-block"></div>

                      <div class="col-xs-6 col-sm-3"><img src="http://dreamatico.com/data_images/dog/dog-5.jpg" class="img-thumbnail"></div>
                      <div class="col-xs-6 col-sm-3"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRHUms_k9TpxqA2y_2a_qa4qUAManXYyGlZPXrxBWycZ_7opnbo" class="img-thumbnail"></div>
                  </div>
              </div>

            <div class="recommendations profile">
                <div class="consider">
                    You might also consider
                </div>
                <!-- Recommendations -->
                <div class="recommend">
                    <div class="posting">
                        <div class="info">
                            <img class="profile-picture" src="images/cat1.jpg" alt="pet picture"/>
                            <div class="left-info">
                                <div class="title"><a href="">Finding a kind pet sitter.</a></div>
                                <div>
                                    <div class="info-column">
                                        <span class="rating">
                                            &#9733;&#9733;&#9733;&#9733;&#9734;
                                        </span>
                                        <span class="info-piece">
                                            <span class="icon"><img class="icon" src="assets/icon-icon-pet.svg"></span>
                                            <span class="value">Cat</span>
                                        </span>
                                        <span class="info-piece">
                                            <span class="icon"><img class="icon" src="assets/icon-calendar.svg"></span>
                                            <span class="value">March 3rd to April 1st</span>
                                        </span>
                                    </div>
                                    <div class="info-column">
                                        <span class="info-piece">
                                            <span class="icon"><img class="icon" src="assets/icon-location.svg"></span>
                                            <span class="value">Downtown, Toronto, ON</span>
                                        </span>
                                        <span class="info-piece">
                                            <span class="icon"><img class="icon" src="assets/icon-price.svg"></span>
                                            <span class="value">25 per day</span>
                                        </span>
                                        <span class="info-piece">
                                            <span class="icon"><img class="icon" src="assets/icon-age.svg"></span>
                                            <span class="value">2 years old</span>
                                        </span>
                                    </div>
                                    <div class="info-column">
                                        <button class="apply" data-toggle="modal" data-target="#applyModal">Apply</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <p class="description">
                            I'm going to aboard for one month. My pet's name is Pudding. He is introvert and usually quiet. He likes to eat tuna but he can eat normal cat food...
                             <a href="">See More</a>
                         </p>
                    </div>
                    <div class="posting">
                        <div class="info">
                            <img class="profile-picture" src="images/cat2.jpg" alt="profile picture"/>
                            <div class="left-info">
                                <div class="title"><a href="">Looking for a nice family to take care of my cat</a></div>
                                <div>
                                    <div class="info-column">
                                        <span class="rating">
                                            &#9733;&#9733;&#9733;&#9734;&#9734; 
                                        </span>
                                        <span class="info-piece">
                                            <span class="icon"><img class="icon" src="assets/icon-icon-pet.svg"></span>
                                            <span class="value">Cat</span>
                                        </span>
                                        <span class="info-piece">
                                            <span class="icon"><img class="icon" src="assets/icon-calendar.svg"></span>
                                            <span class="value">March 3rd to April 1st</span>
                                        </span>
                                    </div>
                                    <div class="info-column">
                                        <span class="info-piece">
                                            <span class="icon"><img class="icon" src="assets/icon-location.svg"></span>
                                            <span class="value">Downtown, Toronto, ON</span>
                                        </span>
                                        <span class="info-piece">
                                            <span class="icon"><img class="icon" src="assets/icon-price.svg"></span>
                                            <span class="value">25 per day</span>
                                        </span>
                                        <span class="info-piece">
                                            <span class="icon"><img class="icon" src="assets/icon-age.svg"></span>
                                            <span class="value">2 years old</span>
                                        </span>
                                    </div>
                                    <div class="info-column">
                                        <button class="apply" data-toggle="modal" data-target="#applyModal">Apply</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <p class="description">
                            I'm going back to German for two weeks and is looking for a nice family to take care of my cat. He is friendly
                            and likes to play with children ...
                             <a href="">See More</a>
                         </p>
                    </div>
                </div>
          </div>
      </div>    	

    <!-- Apply Modal -->
    <div class="modal fade" id="applyModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Application</h4>
                </div>
                <div class="modal-body">
                    <form role="form">
                        <div class="form-group">
                            <label for="name">Name:</label>
                            <input type="name" class="form-control" id="name">
                        </div>
                        <div class="form-group">
                            <label for="email">Email:</label>
                            <input type="email" class="form-control" id="email">
                        </div>
                        <div class="form-group">
                            <label for="comment">Comments:</label>
                            <textarea name="comment"></textarea>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Apply</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Review Modal -->
    <div class="modal fade" id="reviewModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Review</h4>
                </div>
                <div class="modal-body">
                    <form role="form">
                        <div class="form-group">
                            <label for="name">Rating:
                                <span class="rating">
                                    <span ng-click="ratingStar(1)" class="star" id="star1">&#9734;</span>
                                    <span ng-click="ratingStar(2)" class="star" id="star2">&#9734;</span>
                                    <span ng-click="ratingStar(3)" class="star" id="star3">&#9734;</span>
                                    <span ng-click="ratingStar(4)" class="star" id="star4">&#9734;</span>
                                    <span ng-click="ratingStar(5)" class="star" id="star5">&#9734;</span>
                                </span>
                            </label>
                        </div>
                        <div class="form-group">
                            <label for="review">Review:</label>
                            <textarea id="review"></textarea>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Submit</button>
                </div>
            </div>
        </div>
    </div>