
<!-- Post -->
<div class="content">
    <div class="container">

        <!-- Two buttons on the top of the page -->
        <div class="post-header">
            <ul class="buttons">

                <div class="floatleft">
                    <li>
                        <a href="pet_posts" class="button large">
                            <span class="button-label">Go Back To Posting</span>
                        </a>
                    </li>
                </div>

                <div class="floatright">
                    <li>
                        <a href="users/{{ petPosting.user._id }}" class="button large">
                            <span class="button-label">View User Profile</span>
                        </a>
                    </li>
                </div>
            </ul>
        </div>
        
        <!-- Details of the specific post -->
        <div class="post profile">
            <!-- User Info -->
            <div class="user_info">
                <div class="info">
                    <div class="profile-picture" ng-style="{ 'background-image': 'url(' + petPosting.thumbnail + ')' }" alt="profile picture"></div>
                    <div class="left-info">
                        <div class="title">{{ petPosting.title }}</div>
                        <div>
                            <div class="info-column">
                                <div class="rating">
                                    <span id="rating-1">
                                        {{rating(pet.rating, -1)}}
                                    </span>
                                    <a href="users/{{ petPosting.user._id }}/#review">13 Reviews</a>
                                </div>
                                <span class="info-piece">
                                    <img class="icon" src="assets/icon-icon-pet.svg">
                                    <span class="value">{{ pet.type }}</span>
                                </span>
                                <span class="info-piece">
                                    <img class="icon" src="assets/icon-calendar.svg">
                                    <span class="value">{{ petPosting.duration }}</span>
                                </span>
                            </div>
                            <div class="info-column">
                                <span class="info-piece">
                                    <img class="icon" src="assets/icon-location.svg">
                                    <span class="value">{{ petPosting.location }}</span>
                                </span>
                                <span class="info-piece">
                                    <img class="icon" src="assets/icon-price.svg">
                                    <span class="value">{{ petPosting.price }}</span>
                                </span>
                                <span class="info-piece">
                                    <img class="icon" src="assets/icon-age.svg">
                                    <span class="value">{{ pet.age }} years old</span>
                                </span>
                            </div>
                            <div class="info-column right-corner">
                                <button class="button apply" data-toggle="modal" data-target="#applyModal" ng-click="setPostingId(-1)" ng-hide="closedPost">
                                    <img class="icon" src="assets/icon-message.svg">
                                    <span>Apply</span>
                                </button>
                                <button class="button apply closedPost" ng-show="closedPost">
                                    <img class="icon" src="assets/icon-message.svg">
                                    <span>Closed</span>
                                </button>
                                <button class="button apply" data-toggle="modal" data-target="#reviewModal" ng-hide="ownPost">
                                    <img class="icon" src="assets/icon-comment.svg">
                                    <span>Review</span>
                                </button>
                                <button class="button apply closeButton" ng-show="ownPost && !closedPost" ng-click="closePosting(petPosting._id)">
                                    <i class="fa fa-times"></i>
                                    <span>Close Posting</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="info">
                    <span class="info-piece-long-text">
                        <span class="name">Gender</span>
                        <span class="value">{{ pet.gender }}</span>
                    </span>
                    <span class="info-piece-long-text">
                        <span class="name">Breed</span>
                        <span class="value">{{ pet.breed }}</span>
                    </span>
                    <span class="info-piece-long-text">
                        <span class="name">Pet Supplies</span>
                        <span class="value">{{ petPosting.supplies }}</span>
                    </span>
                    <span class="info-piece-long-text">
                        <span class="name">Medicine or Special Diet</span>
                        <span class="value">{{ petPosting.additional_info }}</span>
                    </span>
                </div>
            </div>    

            <p class="description">
                {{ petPosting.description }}
            </p>

      </div>

      <div class="recommendations profile">
        <div class="consider">
            You might also consider
        </div>
        <!-- Recommendations -->
        <div class="recommend">
            <div class="posting" ng-repeat="post in recomm_posts" ng-show="post.show">
                <p class="applied-msg" ng-show="post.applied">You already applied for this posting.</p>
                <div class="info">
                    <div class="profile-picture"  ng-style="{ 'background-image': 'url(' + post.thumbnail + ')' }" alt="profile picture"></div>
                    <div class="left-info">
                        <div class="title"><a href ="" ng-click="showDetailPost(post.posting_id)">{{post.title}}</a></div>
                        <div>
                            <div class="info-column">
                                <span class="rating" id="rating{{$index}}">
                                    {{rating(post.rating, $index)}}
                                </span>
                                <span class="info-piece">
                                    <span class="icon"><img class="icon" src="assets/icon-icon-pet.svg"></span>
                                    <span class="value">{{post.pet_type}}</span>
                                </span>
                                <span class="info-piece">
                                    <span class="icon"><img class="icon" src="assets/icon-calendar.svg"></span>
                                    <span class="value">{{post.duration}}</span>
                                </span>
                            </div>
                            <div class="info-column">
                                <span class="info-piece">
                                    <span class="icon"><img class="icon" src="assets/icon-location.svg"></span>
                                    <span class="value">{{post.location}}</span>
                                </span>
                                <span class="info-piece">
                                    <span class="icon"><img class="icon" src="assets/icon-price.svg"></span>
                                    <span class="value">{{post.price}} per day</span>
                                </span>
                                <span class="info-piece">
                                    <span class="icon"><img class="icon" src="assets/icon-age.svg"></span>
                                    <span class="value">{{post.pet_age}} years old</span>
                                </span>
                            </div>
                            <div class="info-column">
                                <button class="apply" data-toggle="modal" data-target="#applyModal" ng-click="setPostingId(post.posting_id)">Apply</button>
                            </div>
                        </div>
                    </div>
                </div>
                <p class="description">
                    {{post.description | limitTo: 200}}...
                     <a href ="" ng-click="showDetailPost(post.posting_id)">See More</a>
                 </p>
            </div>
        </div>
    </div>
    <div class="pagination">
        <uib-pagination total-items="totalItems" ng-model="currentPage" max-size="maxSize" boundary-link-numbers="true" items-per-page="items_per_page" ng-change="pageChanged()"></uib-pagination>
    </div>
</div>    	

<!-- Apply Modal -->
<div class="modal fade" id="applyModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Application</h4>
            </div>
            <div class="modal-body">
                <form role="form">
                    <div class="form-group">
                        <label for="comment">Comments:</label>
                        <textarea name="comment" ng-model="msg_content"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="apply()">Apply</button>
            </div>
        </div>
    </div>
</div>

<!-- Review Modal -->
<div class="modal fade" id="reviewModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Review</h4>
            </div>
            <form ng-controller="reviewController">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="name">Rating:
                            <span class="rating">
                                <span class="star" id="star1" ng-click="submitStar(1)">&#9734;</span>
                                <span class="star" id="star2" ng-click="submitStar(2)">&#9734;</span>
                                <span class="star" id="star3" ng-click="submitStar(3)">&#9734;</span>
                                <span class="star" id="star4" ng-click="submitStar(4)">&#9734;</span>
                                <span class="star" id="star5" ng-click="submitStar(5)">&#9734;</span>
                            </span>
                        </label>
                    </div>
                    <div class="form-group">
                        <label for="review">Review:</label>
                        <textarea id="review" ng-model="reviewComment"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button ng-click="submitReview('pet')" type="button" class="btn btn-primary" data-dismiss="modal">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>